*.db
*.db-shm
*.db-wal
*.vsidx
*.suo
*.json
WpfAppDemo/WpfAppDemo/bin/Debug/
WpfAppDemo/.vs/
WpfAppDemo/WpfAppDemo/obj/Debug/
WpfAppMNNMDemo/bin/Debug/
WpfAppMNNMDemo/obj/Debug/
WpfAppDemo/WpfAppMNNMDemo/bin/Debug/
WpfAppDemo/WpfAppMNNMDemo/obj/Debug/
WpfAppDemo/packages/
WpfAppDemo/WpfAppMvvmLightDemo/bin/Debug/
WpfAppDemo/WpfAppMvvmLightDemo/obj/Debug/
WpfAppDemo/WpfAppMvvmToolkitMvVVM/bin/Debug/
WpfAppDemo/WpfAppMvvmToolkitMvVVM/obj/Debug/
WpfAppDemo/WpfAppAnimationDemo/obj/Debug/
WpfAppDemo/WpfAppResource/bin/Debug/
WpfAppDemo/WpfAppResource/obj/Debug/
PrismDemo/PrismFullApp/PrismFullApp/Modules/PrismFullApp.Modules.ModuleName/obj/
PrismDemo/PrismFullApp/PrismFullApp/PrismFullApp.Core/obj/
WpfAppDemo/WpfAppAnimationDemo/bin/Debug/
PrismDemo/PrismFullApp/
WpfAppDemo/WpfAppPrismDemo/bin/Debug/
WpfAppDemo/WpfAppPrismDemo/obj/
WpfAppDemo/WpfAppPrismDialogsDemo/bin/Debug/
WpfAppDemo/WpfAppPrismDialogsDemo/obj/
WpfAppDemo/WpfAppPrismDialogsDeni/bin/Debug/
WpfAppDemo/WpfAppPrismDialogsDeni/obj/Debug/
WpfAppDemo/WpfAppPrismDialogsDeni/obj/
WpfAppDemo/WpfLibrary1/obj/
WpfAppDemo/WpfLibrary2/bin/Debug/
WpfAppDemo/WpfLibrary2/obj/
WpfAppDemo/WpfLibrary3/bin/Debug/
WpfAppDemo/WpfLibrary3/obj/
WpfAppDemo/WpfLibrary4/bin/Debug/
WpfAppDemo/WpfLibrary4/obj/
WpfAppDemo/WpfLibrary5/obj/
WpfAppDemo/WpfLibrary5/bin/Debug/
WpfAppDemo/WpfLibrary1/bin/Debug/
