*.db
*.db-shm
*.db-wal
*.vsidx
*.suo
*.json
WpfAppDemo/WpfAppDemo/bin/Debug/
WpfAppDemo/.vs/
WpfAppDemo/WpfAppDemo/obj/Debug/
WpfAppMNNMDemo/bin/Debug/
WpfAppMNNMDemo/obj/Debug/
WpfAppDemo/WpfAppMNNMDemo/bin/Debug/
WpfAppDemo/WpfAppMNNMDemo/obj/Debug/
WpfAppDemo/packages/
WpfAppDemo/WpfAppMvvmLightDemo/bin/Debug/
WpfAppDemo/WpfAppMvvmLightDemo/obj/Debug/
WpfAppDemo/WpfAppMvvmToolkitMvVVM/bin/Debug/
WpfAppDemo/WpfAppMvvmToolkitMvVVM/obj/Debug/
